//Colors
$antiFlashWhite: #F3F7FA;
$dodgerBlue: #2196F3;
$white: #FFFFFF;
$azure:#F1FCFF;
$aliceBlue: #DFE5EC;
$davysGray: #4A4A4A;
$cadetGray: #A0B0B9;
$powderBlue:#9ABBCE;

//Background
$bodyBackground: $antiFlashWhite;
$blockBackground: $white;


//UI element colors
$activeBtns: $dodgerBlue;
$inactiveBtns: $white;
$hoverEffect: $azure;
$strokeColor: $aliceBlue;
$checkboxBorder: $powderBlue; 

//Text color 
$textColor: $davysGray;
$priceColor: $dodgerBlue;
$mutedTextСolor: $cadetGray;
$lightTextColor: $white;